
/* ====== Base & Reset ====== */
*,
*::after,
*::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* ====== Variables ====== */
:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg-dark-blue: hsl(217, 54%, 11%);
    --card-bg-dark-blue: hsl(216, 50%, 16%);
    --line-dark-blue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --p-font-size:18px;
}


html {
    background-color: var(--main-bg-dark-blue);
    color: white;
    font-size: var(--p-font-size);
}

body {
    height: 100%;
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--soft-blue);
}
