/* ====== Base & Reset ====== */
*,
*::after,
*::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

*:focus {
    border: 2px solid var(--cyan);
    outline: none;
    border-radius: var(--border-radius-small);
    padding: 0 2px;
}

/* ====== Variables ====== */
:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg-dark-blue: hsl(217, 54%, 11%);
    --card-bg-dark-blue: hsl(216, 50%, 16%);
    --line-dark-blue: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font-size-base:1.125rem; /* 18px */
    --layout-gap : min(2vh,25px);
    --border-radius-small: 0.625rem; /* 10px */
    --border-radius-medium: 1.25rem; /* 20px */
    --transition-duration: 0.3s;
    --transition-easing: ease-in-out;
}

/* ====== Base Styles ====== */
html {
    background-color: var(--main-bg-dark-blue);
    color: var(--soft-blue);
    font-size: var(--font-size-base);
    font-family: "Outfit", sans-serif;
}

body {
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   padding: 1rem; 
}

/* ====== Card Styles ====== */
.c-card {
    margin: 7.5vh 6.5vw;
    min-width:320px;
    max-width: 490px;
    padding: 25px;
    background-color: var(--card-bg-dark-blue);
    border-radius: var(--border-radius-medium);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start ;
    gap:var(--layout-gap);
}

.c-card__author {
    display: flex;
    align-items: center;
    gap: var(--layout-gap);
}

.c-card__author__avatar {
    height: 3.125rem; /* 50px */
    width: 3.125rem; /* 50px */
    border: 1px solid var(--white);
    border-radius: 50%;
}

.c-card__author__name {
    color: var(--white);
    transition: color var(--transition-duration) var(--transition-easing);
}

.c-card__author__name:hover {
    color: var(--cyan);
    cursor: pointer;
}

.c-card__img {
    max-width:100%;
    border-radius: 10px;
    display: block;
    border-radius: inherit;
}

.c-card__img-wrapper {
    max-width:100%;
    border-radius: var(--border-radius-small);
    overflow: hidden;
    position:relative;
    align-self: center;
    aspect-ratio: 1 / 1;
}

.c-card__img-wrapper::after {
    content:url("../images/icon-view.svg");
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color:hsla(178, 100%, 50%, 0);
    z-index: 100;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}

.c-card__img-wrapper:hover::after {
    background-color:hsla(178, 100%, 50%, 0.5);
    opacity: 1;
    cursor: pointer;
}

.c-card__price-value {
    color: var(--cyan);
    font-weight: 600;
}

.c-card__title {
    font-weight: 600;
    color: var(--white);
    transition: color var(--transition-duration) var(--transition-easing);
}

.c-card__title:hover {
    cursor: pointer;
    color: var(--cyan);
}

.l-flex {
    display: flex;
    width:100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--line-dark-blue);
    padding-bottom: var(--layout-gap);
}

.l-flex__left,
.l-flex__right {
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10px */
}

.attribution {
    font-size: 0.6875rem; /* 11px */
    text-align: center;
    color: var(--white);
}

.attribution a {
    color: var(--soft-blue);
    text-decoration: none;
    transition: text-decoration var(--transition-duration) var(--transition-easing);
}

.attribution a:hover {
    text-decoration: underline;
}

@media (min-width: 769px) {

    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c-card {
        max-width: 23vw;
        overflow:auto;
    }

    .c-card__img-wrapper {
        min-height: 270px;
    }
}
